{
    "presets": [
        ["@babel/preset-env",{
            "targets": {
                "node": "6.11.1"
            }
        }]],
    "sourceMaps": true,
    "retainLines": true,
    "plugins": ["@babel/plugin-proposal-object-rest-spread","transform-object-assign","babel-plugin-add-module-exports"],
    "env": {
        "node": {
            "plugins": [
                "babel-plugin-transform-require-ignore",
                {
                    "extensions": [".scss"]
                }
            ]
        }
    }
}